<form [formGroup]="teacherform">
  <div formArrayName="teachers">
    <div *ngFor="let t of teachers().controls;let teachindex=index;">
      <div [formGroupName]="teachindex">
        {{teachindex}}
        <label>Teachername</label>
        <input type="text" formControlName="teachname">
        <button (click)="removeteacher(teachindex)">Remove Teacher</button>
        <div formArrayName="batches">
          <div *ngFor="let b of batches(teachindex).controls;let batchindex=index;">
            <div [formGroupName]="batchindex">
              {{batchindex}}
              <label>Batch Name</label>
              <input type="text" formControlName="batchname">
              <button (click)="removebatch(teachindex,batchindex)">Remove Batch</button>
              <div formArrayName="student">
                  <div *ngFor="let s of student(teachindex,batchindex).controls;let studindex=index;">
                    <div [formGroupName]="studindex">
                      {{studindex}}
                      <label>Student Name</label>
                      <input type="text" formControlName="studname">
                      <button (click)="removestudent(teachindex,batchindex,studindex)">Remove Student</button>
                    </div>
                  </div>
              </div>
              <button (click)="createstudent(teachindex,batchindex)">Add Student</button>
            </div>
          </div>
      </div>
        <button (click)="createbatch(teachindex)">Add Batch</button>
      </div>
    </div>
    <button (click)="createteacher()">Add Teacher</button>
    <button (click)="patchvalue1()">Set Patch Value</button>
  </div>
</form>

{{teacherform.value | json}}