<form [formGroup]="countryform">
  <label>Country</label>
  <select formControlName="country">
    <option [ngValue]="null" disabled>Select Country</option>
    <option [ngValue]="counc.id" *ngFor="let counc of countries;">
      {{counc.name}}
    </option>
  </select>
</form><br/>
<label>Add Country</label>
<input type="text" [(ngModel)]="country_name">
<button (click)="addCountry()">Add</button><br/>
<label>Change Country Country</label>
<input type="text" [(ngModel)]="dynamcountry">
<button (click)="changeCountry()">Add</button>


